.project__upload {
  height: 100%;
}

.upload__section {
  height: 100%;
}

.upload__cards-container {
  height: 100%;
}

.project__container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.upload__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 60px;
}

.upload__card {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.upload__card img {
  width: 50px;
  border-radius: 50%;
}

.root_container {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 100%;
}

.rest {
  width: 80%;
  padding: 10px 0;
  height: 100%;
  overflow-y: auto;
}

.project__nav {
  display: flex;
  justify-content: space-between;
}

.project__nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-option {
  gap: 5px !important;
}

.project__nav-title h3 {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--non-highlight-color) !important;
}

.project__nav-title h3 span {
  color: var(--highlight--color) !important;
}

.project__nav .project__nav-title-icon {
  font-size: 30px;
}

.project__nav .project__name {
  color: var(--non-highlight-color) !important;
}

.project__nav-options {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 25px !important;
}

.nav-option {
  font-size: 30px;
}

.language {
  font-size: 20px;
}

.rest .container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.upload__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  color: var(--highlight--color) !important;
}

.no-episodes__section,
.has-episode__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.episode-selection__area {
  border: 2px dashed var(--border-color);
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.or {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--non-highlight-color);
}

.upload__icon {
  color: var(--highlight--color);
  font-size: 100px;
  display: flex;
  align-items: center;
}

.episode-selection__area button {
  border: 1px solid var(--highlight--color);
  color: var(--highlight--color);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 30px;
}

.has-episode__section .upload__cards {
  grid-template-columns: repeat(4, 1.3fr);
  gap: 40px;
}

.has-episode__section .upload__cards img {
  width: 30px;
}

.has-episode__section .upload__card {
  font-size: 16px;
  font-weight: 700;
}

.has-episode__section .upload__card {
  padding: 10px;
}

.try__it__out {
  background: var(--highlight--color);
  color: white;
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.try__it__out button {
  background: var(--color-white);
  padding: 10px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--secondary-color);
}

.episodes__sections-table {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.episodes__sections-table tr {
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.episodes__sections-table th,
.episodes__sections-table td {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.action__button-group {
  display: flex;
  border: 1px solid var(--non-highlight-color);
  width: max-content;
  border-radius: 10px;
}
.action__button-group .action__button-group a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  cursor: pointer;
}

.action__delete {
  color: var(--danger-color);
}

.edit__action-buttons,
.transcript__container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.transcript__container .upload__title {
  margin: 0;
}

.transcript__container .edit__action-buttons button {
  border: 1px solid;
  padding: 5px 20px;
  height: max-content;
  font-size: 16px;
  width: 150px;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discard {
  color: var(--danger-color);
  border: 3px solid var(--danger-color);
}

.save {
  background: var(--secondary-color);
  color: var(--color-white);
}

.transcript__container {
  flex-direction: column;
  display: flex;
  gap: 20px;
  height: 100%;
}

.edit__transcript-box {
  border: 2px solid var(--highlight--color);
  height: 80%;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}

.edit__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.editable__conntent {
  height: 90%;
  overflow-y: auto;
}

.edit__mode {
  color: var(--color-white);
  background: var(--primary-color);
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.search {
  padding: 10px;
  border: 2px solid var(--highlight--color);
  color: var(--highlight--color);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editable__conntent h2 {
  color: var(--highlight--color);
  font-weight: 700;
  font-size: 20px;
}

.sidebar_parent {
  background-color: #f3e9fe;
  height: 100%;
  padding: 10px 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}

.logo_container {
  display: flex;
  font-size: 2rem;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo_container img {
  width: 40px;
}

.logo_container .upload__title {
  margin: 0;
}

.index_cont {
  border-radius: 50%;
  padding: 10px 15px;
  margin-left: 1rem;
}

.menu_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-bar__option-header {
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.index_count {
  background: var(--non-highlight-color);
  padding: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 16px;
}

.sidebar-option.option__selected {
  background: var(--highlight--color);

  border-radius: 30px;
  color: var(--color-white);
}

.sidebar-option.option__selected .index_count {
  background: var(--secondary-color);
}

.create__episode-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.create__episode-title img {
  width: 30px;
  border-radius: 50%;
}

.create__episode-modal p {
  margin-bottom: 5px;
}

.create__episode-modal input {
  margin-bottom: 20px;
}

.user__settings {
  position: absolute;
  bottom: 10px;
  width: 80%;
  border-top: 1px solid var(--border-color);
}

.user__settings a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.setting__icon {
  font-size: 15px;
  background: var(--non-highlight-color);
  padding: 10px;
  border-radius: 50%;
}

.setting__label {
  font-size: 20px;
  font-weight: 700;
}
